

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Rubik', sans-serif !important;
}

:root{
    --green-check-account: #1ec141;
}

button{
    cursor: pointer;
}

#frame_31 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 520px;
    height: 406.76px;
    left: calc(50% - 520px/2);
    top: calc(50% - 406.76px/2 + 0.38px);
}

#frame_30{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 432px;
    height: 76.76px;
}

#full_dark{
    width: 200px;
    height: 44.76px;
}

.logo_type{
    position: absolute;
    left: 23.77%;
    top: 4.75%;
    bottom: 29.65%;
}
.logo{
    position: absolute;
    left: 11.7%;
    right: 76.22%;
    top: 3.12%;
    bottom: 3.13%;
}

#frame_27{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 520px;
    height: 300px;
}

#frame_20{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 520px;
    height: 200px;
}

#frame_19{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 520px;
    height: 90px;
}

.email{
    width: 41px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* black */

    color: #000000;
}

.input_email{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 520px;
    height: 49px;

    border: 1px solid #5C73DB;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* gray/400 */

    color: #9FA6B2;
}

#frame_12{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 520px;
    height: 90px;
    order: 1;
}

.password{
    width: 103px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* black */

    color: #000000;
}

.pass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 520px;
    height: 49px;

    /* gray/200 */

    border: 1px solid #5C73DB;
    border-radius: 12px;
}

.hidden{
    display: none !important;
}

#message-error{
    font-size: 14px;
    font-size: 14px;
    padding-left: 397px;
    font-weight: bold;
    color: red;

}

#frame_23{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 520px;
    height: 110px;
    order: 1;
}

#frame_22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 520px;
    height: 75px;
    order: 1;
}

#frame_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 5px;

    width: 520px;
    height: 48px;

    background: #4763E4;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* white */
    color: #FFFFFF;

}

.vector_row{
    width: 20px;
    height: 10.52px;

    /* white */

    background: #FFFFFF;
}

#register_link p{
    width: 350px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* black */

    color: #000000;
}

#register_link p a{
    width: 350px;
height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #5C73DB;
}